<nav class="navbar navbar-expand-lg navbar-light bg-light p-2">
  <div class="container-fluid">
    <a class="pl-4 navbar-brand" href="#">
      <img src="/Assets/Images/logo.png" alt="" width="80" />
    </a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a
            class="nav-link <%= path=='/admin/products'? 'active': '' %>"
            aria-current="page"
            href="/admin/index"
            >Products</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link <%= path=='/admin/users'? 'active': '' %>"
            aria-current="page"
            href="/admin/users"
            >Users</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link <%= path=='/admin/addProduct'? 'active': '' %>"
            aria-current="page"
            href="/admin/addProduct"
            >Add Product</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link <%= path=='/admin/updateProduct'? 'active': '' %>"
            aria-current="page"
            href="/admin/updateProduct"
            >Update Product</a
          >
        </li>
      </ul>
      <div class="d-flex">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="btn btn-danger nav-item mx-2">
            <a
              class="nav-link text-white"
              aria-current="page"
              href="/auth/logout"
              >Logout</a
            >
          </li>
        </ul>
      </div>
    </div>
  </div>
</nav>
